// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Lora');

// Define fonts for body and headers
$headers-font: 'Lora', "serif";
$body-font: 'Montserrat', "sans-serif";
$open-font: "Open Sans", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Body description
    // font-size: 18px;
    // font-weight: 200;
    // font-family: 'Montserrat';
    // line-height: 28px;
