
.decisions-intro h2 {
  margin: 5px;
}


.decisions-intro h4 {
  margin: 5px;
}

.decisions-intro p {
  font-size: 10px;
  margin: 5px;
}



@media (min-width: 720px) {
.decisions-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
  }

.categories-decisions {
  width: 700px;
  font-size: 12px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

}


@media (max-width: 720px) {
.decisions-intro {
  display: block;
  margin-top: 30px;
  }

.categories-decisions {
  display: block;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  }
}
