.categories-decisions {
  font-size: 12px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-decisions{
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.decisions-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
  }

.decisions-intro h2 {
  margin: 5px;
}


.decisions-intro h4 {
  margin: 5px;
}

.decisions-intro p {
  font-size: 10px;
  margin: 5px;
}


@media (max-width: 720px) {
.decisions-intro {
  display: block;
  margin-top: 30px;
  }

.navbar-decisions{
  display: block;
  margin-top: 30px;
}

.categories-decisions {
  display: block;

  }
}
