.decisions-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
}

.decisions-intro h2 {
  margin: 0px;
}


.decisions-intro h4 {
  margin: 0px;
}

.decisions-intro p {
  font-size: 10px;
  margin: 0px;
}
