.body-show-description {
  height: 500px;
  background-color: $white;
  display: block;
  width: 100%;
  padding-left: 4%;
  h1{
    font-size: 25px;
    color:$body-grey;
    font-family:$body-font;
  }

  a.nav-link.active {
    color: $body-grey;
}

  .nav-link {
    color: $body-grey;
    font-family:$body-font;
    font-size: 20px;
  }

}
