.body-show-description {
  min-height: 500px;
  background-color: $white;
  display: block;
  width: 100%;
  margin-top: 20px;
  h1{
    font-size: 25px;
    color:$body-grey;
    font-family:$body-font;
  }

  a.nav-link.active {
    color: $body-grey;
}

.nav-tabs > li > a {
  border-radius: 0px;
}

.nav-tabs > li.active > a {
  background: white;
  border-top: 2px solid #62BDE9;
}

a.nav-item.active {

  background-color: red;
}

  .nav-link {
    color: $body-grey;
    font-family:$body-font;
    // font-size: 20px;
  }
.tab-content{
  padding: 2% 4%;

}
}

.active > .bdt-color-finance {
  border-top-color: $finance !important;
}

.active > .bdt-color-environment {
  border-top-color: $environment !important;
}

.active > .bdt-color-housing {
  border-top-color: $housing !important;
}

.active > .bdt-color-public-works {
  border-top-color: $public-works !important;
}

.active > .bdt-color-culture {
  border-top-color: $culture !important;
}

.active > .bdt-color-education {
  border-top-color: $education !important;
}
