.body-show-description {
  min-height: 500px;
  background-color: $white;
  display: block;
  width: 100%;
  margin-top: 10px;
  h1{
    font-size: 25px;
    color:$body-grey;
    font-family:$body-font;
  }

  a.nav-link.active {
    color: $body-grey;
}

a.nav-item.active {

  background-color: red;
}

  .nav-link {
    color: $body-grey;
    font-family:$body-font;
    font-size: 20px;
  }
.tab-content{
  padding-left: 4%;
  padding-right: 4%;
}
}
