.dashboard-group {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.chart-container {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  padding: 20px;
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;


}

.pie-chart-container {
  display: flex;
  padding-top: 50px;
}

.pie-chart-legend {
  width: 100px;
  padding-top: 50px;
  padding-left: 100px;
}

.legend-all {
  color: white;
  font-size: 11px;
  padding: 5px;
  margin: 5px;
  width: 100px;
  transition: .4s;
  text-align: center;
  &:hover {
    color: black;
    transition: .4s;
  }
}

.accepted-rejected {
  width: 500px;
  padding: 0px;
}

.graph-council-dates {
  width: 500px;
  padding: 50px 10px 10px 10px;
}



.categories-chart {
  width: 400px;
  padding: 10px;
}



.legend-education {
  background-color: $education;
}

.legend-environment {
  background-color: $environment;
}

.legend-transport {
  background-color: $transport;
}

.legend-waste-mgmt {
  background-color: $waste-mgmt;
}

.legend-public-works {
  background-color: $public-works;
}

.legend-commerce {
  background-color: $commerce;
}
