.dashboard-group {
  padding: 50px 0px;
}
.votes-global {
  display: flex;
  justify-content: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart-legend {
  width: 100px;
  padding-left: 100px;
}

.legend-all {
  color: white;
  font-size: 11px;
  padding: 5px;
  margin: 5px;
  width: 100px;
  transition: .4s;
  text-align: center;
  &:hover {
    color: black;
    transition: .4s;
  }
}

.accepted-rejected {
  width: 500px;
  padding: 0px;
}

.graph-council-dates {
  width: 500px;
  padding: 10px;
}



.categories-chart {
  width: 800px;
  padding: 10px;
}



.legend-education {
  background-color: $education;
}

.legend-environment {
  background-color: $environment;
}

.legend-transport {
  background-color: $transport;
}

.legend-waste-mgmt {
  background-color: $waste-mgmt;
}

.legend-public-works {
  background-color: $public-works;
}

.legend-commerce {
  background-color: $commerce;
}
