<%= simple_form_for([ decision, comment ], remote: true) do |f| %>
  <%= f.input :content, placeholder: "Ajouter un commentaire public...", label:false, class: "form_design" %>
  <div class="comment-button">
    <%= f.submit "Ajouter un commentaire", class: "btn-ghost btn-ghost:hover" %>
  </div>
<% end %>
