<div class="container">
  <%= render 'shared/categories' %>
  <div class="decisions-intro">
  </div>
  
  <hr>
  <div class="row" id="former-decisions-wrapper">
    <%= render 'former_decisions', former_decisions: @former_decisions %>

  </div>

  <hr>
</div>
