<div class="card-decision">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-decision-infos">
    <div>
      <h2>Intitulé</h2>
      <p>Short description here!</p>
    </div>
    <div class="vote">
      <i class="far fa-check-circle"></i>
      <i class="fas fa-sort"></i>
      <i class="far fa-times-circle"></i>
    </div>
  </div>
</div>
