<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/alkidel/votrevote"><i class="fab fa-github"></i></a>
  </div>
    <%= link_to root_path do %>
  <div>
    <strong class="vv">V</strong>otre <strong class="vv">V</strong>ote
  </div>
  <% end  %>
  <div class="footer-copyright hidden-xs ">
    This footer is made with <i class="fas fa-heart"></i> by Mathieu, Pierre, Greg, & Alki.
  </div>
</div>
