<div class="extra-padding"><h4 class="text-center">Le conseil municipal et le public sont en
<% if @decision.result == @public_result %>
  <strong>accord</strong>
<% else %>
  <strong>désaccord</strong>
<% end %>
pour cette décision !</h4>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="chart-container">
      <h4 class="text-center">Conseil Municipal</h4>
      <p class="text-center">Cette décision a été<strong>
         <% if @decision.result == "accepted" %>
          acceptée
        <% elsif @decision.result == "rejected" %>
          refusée
        <% else %>
          reportée
          <% end  %>
        </strong>
        par le conseil municipal.</p>
    <div class="pie-chart-container-decision">
        <div class="pie-chart-legend">
          <div class="legend-all legend-finance">Accepté</div>
          <div class="legend-all legend-culture">Refusé</div>
          <div class="legend-all legend-housing">A reporter</div>
        </div>
      <div class='accepted-rejected'>
        <%= pie_chart @council_results_by_numbers, height: "250px", colors: ["#8380B6", "#D34286", "#FDB631"], legend: false, donut: true %>
      </div>
    </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="chart-container">
      <h4 class="text-center">Public</h4>
      <p class="text-center">Cette décision a été <strong><%= @public_result == "accepté" ? "acceptée" : "refusée"  %> </strong>

      par le public.</p>
      <div class="pie-chart-container-decision">
          <div class="pie-chart-legend">
            <div class="legend-all legend-finance">Accepté</div>
            <div class="legend-all legend-culture">Refusé</div>
          </div>
      <div class='accepted-rejected'>
        <%= pie_chart @public_results_by_numbers, height: "250px", colors: ["#8380B6", "#D34286", "#FDB631"], legend: false, donut: true %>
      </div>
    </div>
    </div>
  </div>
</div>
