<div class="container">
  <h2>Futurs votes</h2>
    <div class="row">
      <%= render 'shared/cards_decisions' %> <!-- Add link_to to card path -->
      <%= render 'shared/cards_decisions' %> <!-- Add link_to to card path -->
      <%= render 'shared/cards_decisions' %> <!-- Add link_to to card path -->
    </div>
</div>
