.banner {
  background-size: cover;
  background-position: center;
  // padding: 130px 0;
  height: 70vh;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  .home-container{
    width: 47%;
    right: 53px;
    position: relative;
    bottom: 20px;
    padding: 40px 119px;
    .category{
      padding-bottom: 10px;
      h3 {
        font-weight: bold;
        font-size: 16px;
        color:white;
        border: 1px solid white;
        position: relative;
        bottom: 10px;
        padding: 10px;
        display:inline;
        margin-bottom: 10px;
        transition: .4s;
        &:hover {
        color:$green;
        background-color: $white;
        transition: .4s;
        }
      }
    }
    .white-background{
      background-color: $white;
      color: black;
      padding: 10px 10px;
      .title{
        font-weight: bold;
        font-size: 24px;
        font-family: 'Playfair Display', serif;
      }
      p {
        opacity: .8;
        font-size: 16px;
        font-weight: lighter;
      }
      .call_to_action{
        display: flex;
        justify-content: right;
        margin-top: -7px;
        .btn{
          text-decoration: none;
          background-color: $green;
          color: white;
        }
      }
    }
  }
}

.banner-countdown{
  position:absolute;
  .text{
    color: $white;
    text-align: center;
    position: relative;
    bottom: -80px;
    padding: 0px 20px;
    left: 112px;
    border: 1px solid white;
    margin: 0px 0px;
    h3{
      font-size: 32px;
      margin: 7px 1px;
    }
    p{
      margin-top:-12px;
    }
  }
}


.show-banner {
background-size: cover;
background-position: center;
display: flex;
height: 420px;
position: relative;

  .back {
    position: absolute;
    left: 4%;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    font-weight: bold;
    color: $white;
    margin-top: 30px;
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .back:hover {
    opacity: 1;
    text-decoration: none;
  }

  .show-banner-card {
    position: absolute;
    left: 4%;
    bottom: -1px;
    width: 40%;
    height: 200px;
    padding: 3% 3% 5px;
    background-color: $white;
      h1 {
        color: $header-grey;
        font-family: $headers-font;
        font-weight: bold;
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 10px;
        line-height: 34px;
        font-weight: 700;
      }
      .card-decision-infos-show {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
    }
}

