.banner {
  background-size: cover;
  background-position: center;
  // padding: 130px 0;
  height: 70vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: flex-start;
  // padding: 30px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  height: 70vh;
}

.decision_banner {
  padding-top: 35px;
  }

.home-div{
  width: min-content;
}

.banner-countdown{
  color: $white;
  background-color:rgba(255,255,255,0);
  // border: 1px solid white;
    h3{
      font-size: 32px;
      padding: 0px;
      margin: 0px;
    }
    a{
      color:white;
    }
      a:hover {
        text-decoration: none;
        color: $green;
        transition: .4s;
        opacity: .9;
      }
  }

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // position: relative;
  // bottom: -120px;
  a:hover {
      text-decoration: none;
    }
}

.banner-buttons {
  display: flex;
  width: 280px;
  justify-content: start;
}

.banner-margin{
  margin-left: 10px;
}

.white-background{
  background-color: $white;
  color: black;
  padding: 10px;
  width: 60%;
  transition: .4s;
  .link{
    a{
          font-size: 100%;
          color: $white;
          background-color: $green;
          border-radius: 3px;
          padding: 10px 20px;
          margin-bottom: 20px;
          width: 80%;
        }
  }
    h3 {
      padding-bottom: 10px;
      margin: 0px;
      padding-top: 10px;
      font-weight: 300;
      font-size: 24px;
    }
    .white-background-desc{
      padding:0px;
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 75ch;
    }
   &:hover {
      text-decoration: none;
      // color: $green;
      transition: .4s;
      // opacity: .9;
    }
}

.last-card{
  background-color: white;
  text-align: center;
  border-radius: 3px;
  width: 50%;
  margin: 0 auto;
  transform: translate(0, 50%);
  .banner-countdown{
    color: $header-grey;
    padding-top: 30px;
    .decision_banner{
      a{
        font-size: 100%;
        color: $white;
        background-color: $green;
        border-radius: 3px;
        padding: 10px 20px;
        margin-bottom: 20px;
        width: 80%;
      }
    }
  }
}

.call_to_action{
  margin-top: 20px;
}


@media (max-width: 568px) {
  .banner-content {
  bottom: -30px;


  }

  .white-background {
    width: 280px;
    padding: 10px;
  }

  .last-card {
    width: 250px;
    padding: 10px;
    transform: translate(0, 10%);
    a{
        font-size: 60%;
    }
  }

}

.show-banner {
background-size: cover;
background-position: center;
display: flex;
height: 420px;
position: relative;
overflow: hidden;

  .back {
    position: absolute;
    left: 4%;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    font-weight: bold;
    color: $white;
    margin-top: 30px;
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .back:hover {
    opacity: 1;
    text-decoration: none;
  }

  .show-banner-card {
    position: absolute;
    left: 4%;
    bottom: -1px;
    width: 45%;
    height: 250px;
    padding: 3% 3% 5px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      h1 {
        color: $header-grey;
        font-family: $headers-font;
        font-weight: bold;
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 10px;
        line-height: 34px;
        font-weight: 700;
      }
      .card-decision-infos-show {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
    }
}

.your_vote_n{
  background-color:$red;
  border-radius:4px;
  color:white;
  font-size:15px;
  padding:5px;
}

.your_vote_y{
  background-color:$green;
  border-radius:4px;
  color:white;
  font-size:15px;
  padding:5px;
}

.your_vote{
  color:grey;
  font-size:15px;
  padding:5px;
}

.position-fixed{
    position:fixed;
    top: 212px;
    right: 10px;
    /* border: solid; */
    border-right: none;
    border-radius: 20px;
    /* border-color: grey; */
    background-color: rgb(230,230,230)
}
.final_vote p{

    position: absolute;
    top: 53px;
    right: -82px;
    width: 355px;
    font-size: 18px;
    border: solid;
    border-right: none;
    border-left: none;
    font-weight: bold;
    padding:10px;
    opacity:0.90;
    color:white;
    -webkit-transform: rotate(40deg);
    text-align: center;
}
#accept {
    border-color: $green;
    background-color:$green;
}

#reject {
    border-color: $red;
    background-color: $red;
}

#deferred {
    border-color: $orange;
    background-color: $orange;
}

.final_vote_index{
    position: absolute;
    top: 17px;
    right: -127px;
    width: 355px;
    font-size: 17px;
    border: solid;
    border-right: none;
    border-left: none;
    font-weight: bold;
    padding:4px;
    opacity:0.90;
    color:white;
    -webkit-transform: rotate(40deg);
    text-align: center;
}
.accept_card {
    border-color: $green;
    background-color:$green;
}

.reject_card {
    border-color: $red;
    background-color: $red;
}

.deferred_card {
    border-color: $orange;
    background-color: $orange;
}

