.btn-all {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $education;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $education;
    transition: .4s;
  }
}

.btn-form {
  width: 100%;
  color: white;
  padding: 5px;
  background-color: $environment;
  transition: .4s;
  margin: 20px 0px;
  &:hover {
    text-decoration: none;
    opacity: .8;
    transition: .4s;
  }
}

.extra-padding {
  padding: 10px;
}

.btn-category {
  color: white;
  padding: 10px;
  transition: .4s;
  border: 1px solid white;
  transition: .4s;
  font-size: 12px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    background-color: $white;
    transition: .4s;
    }
}

.btn-category-decisions {
  color: $green;
  padding: 10px;
  transition: .4s;
  background-color: $white;
  border: 1px solid white;
  transition: .4s;
  font-size: 12px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: .4s;
    }
}


.education {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $education;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $education;
    transition: .4s;
  }
}

.environnement {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $environment;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $environment;
    transition: .4s;
  }
}

.culture {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $culture;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $culture;
    transition: .4s;
  }
}

.urbanisme {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $public-works;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $public-works;
    transition: .4s;
  }
}

.logement {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $housing;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $housing;
    transition: .4s;
  }
}

.finance {
  color: black;
  padding: 5px;
  // background-color: white;
  border: 1px solid $finance;
  transition: .4s;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $finance;
    transition: .4s;
  }
}
.home-education {
color: white;
  padding: 11px;
  // background-color: white;
  background-color: $education;
  &:hover {
    text-decoration: none;
  }
}

.home-environnement {
  border:none;
  color: white;
  padding: 11px;
  // background-color: white;
  background-color: $environment;
  &:hover {
    text-decoration: none;
  }
}

.home-culture {
  border:none;
  color: white;
  padding: 11px;
  // background-color: white;
  background-color: $culture;
  &:hover {
    text-decoration: none;
  }
}

.home-urbanisme {
  border:none;
  color: white;
  padding: 11px;
  // background-color: white;
  background-color: $public-works;
  &:hover {
    text-decoration: none;
  }
}

.home-logement {
  border:none;
  color: white;
  padding: 11px;
  // background-color: white;
  background-color: $housing;
  &:hover {
    text-decoration: none;
  }
}

.home-finance {
  border:none;
  color: white;
  padding: 11px;
  // background-color: white;
  background-color: $finance;
  &:hover {
    text-decoration: none;
  }
}

.rejected {
  color: $white;
  padding: 10px;
  background-color: $red;
  // border: 1px solid $red;
  transition: .4s;
}

.deferred {
  color: $white;
  padding: 10px;
  background-color: $orange;
  // border: 1px solid $red;
  transition: .4s;
}

.accepted {
  color: $white;
  padding: 10px;
  background-color: $green;
  // border: 1px solid $red;
  transition: .4s;
}
