.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-decision {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  color-background: black;
  opacity: 1;
  a:hover {
      text-decoration: none;
    }
}


.card-decision .card-decision-title {
    height: 200px;
    width: 100%;
    background-size: cover;
    padding: 30px;
    &:hover {
      opacity: 0.7;
    }
}


.card-decision h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-decision p {
  font-size: 12px;
  opacity: .7;
  margin: 0;

}


.card-decision .card-decision-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.card-decision-infos-category {
  margin: 0;
  padding: 5px;
  font-size: 11px;
  &:hover {
    color: white;
  }
}



.vote {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.fa-thumbs-up {
  color: black;
  opacity: 0.8;
  padding: 10px;
  &:hover {
    color: $green;
  }
}

.fa-thumbs-down {
  color: black;
  opacity: 0.8;
  padding: 10px;
  &:hover {
    color: $red;
  }
}


.votes-infos h4 {
    font-size: 20px;
    margin: 0;
  }


