.btn-ghost {
  background-color: #CCCCCC;
  color: white;
  border: 1px solid #CCCCCC;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
.position_right{
  margin-left: 475px;
  display: flex
}

.update_comment{
  .far{
  color:#CCCCCC;
  opacity: 0.6;
  }
  .far:hover{
    opacity:1;
  }
}

.form-control{
  transition:none;
  border-top:none;
  border-right: none;
  border-left:none;
  box-shadow: none;
  line-height: 0.7;
  padding: 15px 10px;

  }

